/* მთავარი */

*{
    margin: 0;
    font-family: 'Aboreto', cursive;
}
html {
    scroll-behavior: smooth;
  }
.row{
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* ნავიგაცია */

.list-style{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;

    
}
.header{
    padding: 16px;
    border-bottom: 1px solid black;
}
.nav-item{
    font-size: 20px;
}

/* მთავარი გვერდი */

#banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/src/styles/images/backgroundimage.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
}
.banner-style{
    margin-top: 15%;
}
.banner-header{
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}
.banner-text{
    color: white;
    font-weight: bold;
    text-align: center;
}

/* ჩვენს შესახებ */

.section-about{
    margin-top: 100px;
    height: 100px;
    margin-bottom: 100px;
    
}
.section-about h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.brand-image1 img{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid black;
}
.brand-image1 p{
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.brand-image2 img{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid black;
}
.brand-image2 p{
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.brand-image3 img{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid black;
}
.brand-image3 p{
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#about-us{
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}

/* კონტაქტი */

#contact-us{
    margin-top: 100px;
}
.contact-form{
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}
.contact1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contact2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contact3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contact4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contact5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contacttext{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.contacttext h4{
    font-size: 36px;
}
.contact6{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn1{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
}

/* ქვედა ნავიგაცია */

.brandslink{
    padding-top: 50px;
    padding-left: 50px;
}
.brandslink h3{
    padding-bottom: 20px;
}
.navfooter ul {
    list-style: none;
}
.navfooter{
    padding-top: 50px;
    padding-left: 50px;
}
.navfooter h3{
    padding-bottom: 20px;
}
.brandslink ul{
    list-style: none;
}
.footer{
    display: flex;
}
.footer-middle{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 200px;
    font-size: 50px;
}
.footer-right{
    position: relative;
    padding-top: 300px;
}
.footer-right p{
    display: flex;
}
